@import '../../../styles/variables';

.bords{
  padding-bottom: 50px;
  background-image: url(../../../public/bord_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
