//クエスト一覧の画像

.bord2{
  background-image: url('../../../public/bord_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
}

.bords{
  background-image: url('../../../public/bord_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


.bord {
  width: 100%;
  margin: 30px auto;
  border: 2px solid rgba(133, 101, 101, 0.864);
  width: min(650px, 95vw);
  height: 40vh;
  background-image: url('../../../public/bord.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .bord_content {
    display: flex;
    justify-content: space-between;
    .left {
      width: 80%;
      .flex {
        display: flex;
      }
      .id {
        //number
        font-size: 5px;
        color: rgb(116, 113, 113);
        padding: 4px 0 0 2px;
      }
    
      }
      .title {
        font-size: 14px;
      }
    }
    .right {
      width: 20%;
      .bord_time {
        font-size: 8px;
        display: inline-block;
        color: rgba(36, 30, 30, 0.515);
      }
    }
    // -----------------
    .quest{
      text-align: center;
    }

    .flex_content{
      width: 57%;
        margin: 0 auto;

      .flex_bord{
        display: flex;
        padding: 20px;
        .padding{
          padding-right: 30px;
        }
        .padding2{
          padding-top: 10px;
          padding-right: 80px;
        }
        .position{
          display: flex;

          p{
            padding: 10px 3px;
          }
          
        }
      }
    }
  }   
}