@import '../../../styles/variables';

  
.bords{
  display: flex;
  justify-content: space-around;
  @include mq(md) {
    
    display: block;
  }

  .bord_left{
    width: 40%;

    
  .bord_text_area{
    padding: 20px;

    .bord_time{
      margin-left:30px;
    }
    .bord_time_select{
      margin-left:40px;
      padding-left: 2px;
    }
  }
  .position_card{
    display: flex;
  }
}
// -----左側-----
.bord_right{
  width: 40%;

  .bord_text_area{
    padding-top: 20px;
  }
  .position_card{
    padding-top: 40px;
  }
}

}