@import '../../../styles/variables';

  .bord_text_area{
    padding: 20px;

    .bord_time{
      margin-left:40px;
    }
    .bord_time_select{
      margin-left:40px;
      padding-left: 2px;
    }
  }
