@import '../../../styles/variables';

.bord{
  margin:  30px auto;
  border: 2px solid rgba(133, 101, 101, 0.864);
  width: min(650px,95vw);
  height: 20vh;
  background-image: url(../../../public/bord.jpg); background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .flex{
    display: flex;
    justify-content: space-between;
  }

  .bord_time{
    display:inline-block;
    color: rgba(36, 30, 30, 0.515);
  }
  .title{
    font-size:14px;
  }
  .pos{
    font-size: 12px;
  }
  .bord_btn{
    color: white;
    background-color: rgb(32, 113, 218);
  }

}
