@import '../../../../styles/variables.scss';


.main {
  width:100%;
  padding-top: 10vh;
  display: flex;
  height: auto;
  justify-content: space-around;
  @include mq(md) {
    display: block;
  }
  .name{}

  .main_left{
    width:20%;
    height: 100vh;
    background-color: #383633;
    color: white;
    position: fixed;
    top: 10vh;
    left: 0px;

    @include mq(md) {
    display: none;
    }

    .block{
      text-align: center;
      display:block;
      // background-color: pink;
      padding:5px;
      color: white;
      border-bottom: 1px solid rgb(255, 255, 255);
    }
  }

  .main_right{
    width:80%;
    height: auto;
    margin-left: 20vw;

    @include mq(md) {
      width: 100%;
      margin-left: 0;
    }
  }
}