@import '../../../../styles/variables.scss';

.footer{
  bottom:0;
  position: fixed;
  background-color:#776f66;
  width: 100vw;

  .footer_title{
    color: rgb(255, 255, 255);
    text-align: center;
  }
}