@import '../../../styles/variables';

.bords {
  padding-bottom: 50px;
  background-image: url('../../../public/bord_image.jpg');


  .bord_area{

  }

  .hover{
    width: 60%;
    padding-top: 30px;
    margin: 0 auto;

  }  
}