@import '../../../styles/variables';

//クエスト募集サイトの背景画像
.bords {
  padding-bottom: 50px;
  background-image: url('../../../public/bord_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .bord{//クエスト募集サイトの背景画像
    width: min(80vw,900px);
    border-radius: 5px;
    margin: 0 auto;
    height: 75vh;
    // height: auto;
    background-image: url('../../../public/bord.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    

      @include mq(md) {
        height: auto;
      }

      .a{
      background-color: white;
    }
  }
  
}